*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --border-blue-light: rgb(211, 217, 223) ;
  --background-blue-light : rgba(233, 233, 255, 0.432);
  --blue : #165cf3;
  --red : rgb(202, 6, 6) ;
}